@import "font/open-sans";
@import "font/fontawesome/fontawesome";
@import "common/main";

::-webkit-input-placeholder {color: rgba(51, 51, 51, .3);}
:-moz-placeholder {color: rgba(51, 51, 51, .3);}
:-ms-input-placeholder {color: rgba(51, 51, 51, .3);}
