
div.form-field {display: flex;}

div.form-field:not(:last-child) {margin-bottom: 16px;}

div.form-field > label {width: 120px;flex-shrink: 0;line-height: 24px;padding: 4px 0;}

div.form-field > textarea,
div.form-field > select,
div.form-field > input:not([type="checkbox"]) {border: 1px solid $color-border;border-radius: 2px;}
div.form-field > input:not([type="checkbox"]) {height: 32px;padding: 0 8px;}

div.form-field > input[type="url"],
div.form-field > input[type="text"] {flex-grow: 1;min-width: 0;}

div.form-field > input[type="date"] {text-align: right;width: 80px;}

div.form-field > input[type="number"] {text-align: right;width: 80px;}

div.form-field > input:invalid {border-color: $color-error;}

div.form-field > textarea {flex-grow: 1;height: 66px;padding: 8px;line-height: 16px;}
