.loading {position: relative;}

button.loading {}

.loading:after {content: "";display: block;text-align: center;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 10;background: rgba(255, 255, 255, .4) url("/images/preload.svg") 50% 50% no-repeat;background-size: 48px 48px;}

body.loading:after {position: fixed;}
