/* Resets and base styles */
* {
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	position: relative;
}

/* Сглаживание */
body {
	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}

button, input {
	*overflow: visible;
	line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
	cursor: pointer;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

/* * * End of Resets and base styles * * */

::-webkit-input-placeholder {
	color: var(--input);
}

:-moz-placeholder {
	color: var(--input);
}

:-ms-input-placeholder {
	color: var(--input);
}

a {
	text-decoration: none;
	outline: 0;
}

a:hover {
	text-decoration: underline;
}

div.message {
	line-height: 1.5em;
	padding: 10px 15px;
	margin-bottom: 16px;
	border: 1px solid transparent;
	border-radius: 4px;
}

div.message-info {
	border-color: var(--info);
	color: var(--info);
}

div.message-success {
	border-color: #d6e9c6;
	color: var(--success);
}

div.message-error {
	border-color: var(--error);
	color: var(--error);
}

div.message-warning {
	border-color: var(--warning);
	color: var(--warning);
}
