div.dashboard header {
	background: #333;
	z-index: 5;
	box-shadow: 0 0 8px rgba(0, 0, 0, .1);
	padding: 8px 0;
	position: relative;
	.wrap {width: 100%;max-width: 800px;margin: 0 auto;position: relative;display: flex;}
	.logo {width: 200px;cursor: pointer;background: url("/images/logo.svg") 16px 50% no-repeat;}
	.search {display: flex;flex-grow: 1;padding: 0 0 0 8px;border: 1px solid #ccc;background: #fff;border-radius: 3px;margin: 0 8px;}
	input {flex-grow: 1;height: 30px;padding: 0;margin-right: 8px;border: none;background: none;}
	.btn {font-size: 16px;height: 30px;color: #fff;margin-right: 8px;}
}
div.dashboard header.expanded {padding-bottom: 0;}
div.dashboard header:not(.expanded) div.tags {display: none;}
div.dashboard header.fixed {position: fixed;left: 0;top: 0;width: 100%;}
div.dashboard header::after {
	content: "";
	position: absolute;
	left: 0px;
	right: 0px;
	top: 100%;
	height: 4px;
	background: linear-gradient(rgba(9, 30, 66, 0.13) 0px, rgba(9, 30, 66, 0.13) 1px, rgba(9, 30, 66, 0.08) 1px, rgba(9, 30, 66, 0) 4px);
	z-index: 41;
}

@media (prefers-color-scheme: dark) {
	div.dashboard header .search {background: #1D1D1F;border-color: #3F4042;}
	div.dashboard header input {color: #e8eaed;}
	div.dashboard header .btn {color: #8F9499;}
}
