body {height: 100%;}

div.dashboard {
	display: flex;
	flex-direction: column;
	height: 100%;

	.btn {width: 32px;height: 32px;cursor: pointer;text-align: center;color: #000;line-height: 32px;}
	a.btn:hover {text-decoration: none;}
	.btn:before {font-family: "FontAwesome";font-weight: 100;}
	.btn:hover {color: $color-main;}
	.btn-password:before {content: fa-content($fa-var-copy);}
	.btn-eye:before {content: fa-content($fa-var-eye);}
	.btn-link:before {content: fa-content($fa-var-arrow-up-right-from-square);}
	.btn-filter:before {content: fa-content($fa-var-filter);}
	.btn-menu:before {content: fa-content($fa-var-bars);font-size: 20px;}
}

section.wrapper { flex-grow: 1; width: 100%; max-width: 800px; margin: 0 auto; background: #fff;}
div.views-wrap {flex-grow: 1;margin-left: 200px;min-height: 100%;height: 100%;}
h1 {font-weight: 600;margin-bottom: 16px;font-size: 16px;}

@import "header";
@import "sidebar";
@import "contextmenu";
@import "form";
@import "note";
@import "progressbar";
@import "confirmation";
@import "views/list";
@import "views/notepad";
@import "views/settings";
@import "views/password-generator";

@media (prefers-color-scheme: dark) {
	section.wrapper {background: #292A2D;}
	h1 {color: #e8eaed;}
	div.dashboard .btn {color: #8F9499;}
}
