/* PAGINATOR */
div.paginator {margin-top: 20px;}

div.paginator ul {list-style: none;margin: 0;padding: 0;}

div.paginator li {display: inline-block;line-height: 25px;height: 25px;text-align: center;}

div.paginator li.first,
div.paginator li.last,
div.paginator li.page {}

div.paginator li.dot {padding: 0 10px;}

div.paginator li.disabled {color: #999;padding: 0 5px;}

div.paginator li.current {background: #003C53;color: #fff;padding: 0 5px;min-width: 25px;}

div.paginator a {display: block;padding: 0 5px;text-decoration: none;min-width: 25px;color: #003C53;}

div.paginator a:hover {color: #4b666f}

div.paginator li.count {float: right;color: #999999;}

/* /PAGINATOR */
