div.app-settings {
	div.window-body {background: #f9f9f9;padding: 0 0 8px 0;}
	div.group {background: #fff;box-shadow: 0 0 4px rgba(0, 0, 0, .1);}
	div.group:not(:first-child) {margin-top: 16px;}
	div.group-title {font-weight: 600;line-height: 24px;padding: 8px 16px 0 16px;}
	div.group-body {padding: 8px 0;}

	div.item {padding: 12px 16px;cursor: pointer;line-height: 16px;}
	div.item:hover {background: #f9f9f9;}
	div.item:before {display: inline-block;vertical-align: top;font-family: "FontAwesome";font-weight: 100;font-size: 16px;margin-right: 8px;}
	div.item.key:before {content: fa-content($fa-var-key);}
	div.item.export:before {content: fa-content($fa-var-file-export);}
	div.item.import:before {content: fa-content($fa-var-upload);}
}
